@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #b0afaf;
}

:root {
  --navbar-bg-color: #232423;
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: rgba(0, 136, 169, 0.8);
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}

/* nav bar */

.container {
  max-width: 90%;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}
#navbar {
  --navbar-height: 64px;
  position: fixed;
  z-index: 2;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); */
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  transition: all 0.3s ease 0s;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
  transition: all 0.3s ease 0s;
}
.navbar-logo {
  background-color: var(--navbar-text-color-focus);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

/* main */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(217, 217, 217, 0.2), rgb(176, 175, 175)),
    url("./images/wood.jpg") center/cover;
  position: relative;
}

.hero-center,
.hobbies-container {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  padding: 5rem 0;
  color: #ececec;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-center h1 {
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}

.hero-center p {
  max-width: 35em;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.temp {
  min-height: 100vh;
  background: #b0afaf;
  position: relative;
}

.temp h1 {
  color: #ececec;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}

/* about Content */

.hobbies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  color: #ececec;
  max-width: 1170px;
  margin: 0 auto;
  padding: 3rem 0;
}

/* about activities */

.hobbies-header {
  padding-top: 10rem;
}
.hobbies,
.hobbies-title {
  color: #ececec;
  font-weight: bold;
}

.hobbie-container {
  display: flex;
  flex-direction: wrap;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.hobbies-title {
  padding-bottom: 5rem;
  text-decoration: underline;
  text-transform: capitalize;
  text-align: center;
}
.hobbie-text {
  width: 70%;
  margin: auto;
  text-align: start;
}

.hobbie-pic {
  width: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.hobbie-container > div {
  margin: 2rem;
  flex: 0 0 calc(50% - 10px);
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
}
hr {
  width: 80vw;
  color: #ececec;
  margin: auto;
}

/* portfolio css */

.portfolio,
.contact {
  background-color: #232423;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-center {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 3rem;
  gap: 2rem;
}

.portfolio-text {
  display: flex;
  flex: 1;
  color: #ececec;
  flex-direction: column;
  margin-left: 1rem;
}

.portfolio-text > h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.portfolio-text > h3,
p {
  opacity: 0.5;
}

.portfolio-pic > {
  flex: 1;
  max-width: 100%;
  max-height: auto;
}

.portfolio-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.button-4 {
  appearance: none;
  background-color: #ececec;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #c8c8c8;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

/* portfolio main */

.portfolio-main {
  background: linear-gradient(
    180deg,
    rgba(35, 36, 35, 1) 35%,
    rgba(176, 175, 175, 1) 100%
  );
  height: 50vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-main-center {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  gap: 2rem;
}

.portfolio-main-text {
  margin-top: 30%;
  display: flex;
  color: #ececec;
  text-decoration: underline;
}
.portfolio-main-text > h1 {
  font-size: 4rem;
}

/* contact css */
#contactForm {
  margin: 0 2rem;
}

.contact {
  background-color: #b0afaf;
  flex-direction: column;
}

.contact > h2 {
  color: #ececec;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.contact > form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.comments {
  height: 20vh;
}

.submit {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #45a049;
}

/* media queries desktop */
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

/* media queries for small screens */

@media screen and (max-width: 700px) {
  .hobbie-container {
    flex-direction: column;
  }

  .hobbie-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    order: 2;
  }
}

@media screen and (max-width: 900px) {
  .portfolio-image {
    display: none;
  }

  .portfolio-text {
    text-align: center;
  }

  .portfolio-text > h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .portfolio-main-text > h1 {
    font-size: 3rem;
  }
}
