@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #b0afaf;
}

:root {
  --navbar-bg-color: #232423;
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: rgba(0, 136, 169, 0.8);
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}

/* nav bar */

.container {
  max-width: 90%;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}
#navbar {
  --navbar-height: 64px;
  position: fixed;
  z-index: 2;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  transition: all 0.3s ease 0s;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
  transition: all 0.3s ease 0s;
}
.navbar-logo {
  background-color: var(--navbar-text-color-focus);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

/* main */

.hero,
.about {
  min-height: 100vh;
  background: linear-gradient(rgba(217, 217, 217, 0.2), rgb(176, 175, 175)),
    url("./images/wood.jpg") center/cover;
  position: relative;
}

.hero-center,
.hobbies-container {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  padding: 5rem 0;
  color: #ececec;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-center h1 {
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}

.hero-center p {
  max-width: 35em;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.temp {
  min-height: 100vh;
  background: #b0afaf;
  position: relative;
}

.temp h1 {
  color: #ececec;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}

/* about Content */

.about,
.hobbies {
  padding: 5rem 0;
}

.about-center,
.hobbies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  color: #ececec;
  max-width: 1170px;
  margin: 0 auto;
  padding: 3rem 0;
}

.about-text {
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-pic {
  width: 450px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.about-center > * {
  flex: 1;
}

@media screen and (max-width: 700px) {
  .about-pic {
    width: 250px;
  }

  .about-center,
  .hobbie-container {
    flex-direction: column;
  }

  .hobbie-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    order: 2;
  }
}

/* about activities */

.hobbies,
.hobbies-title {
  color: #ececec;
  font-weight: bold;
}

.hobbie-container {
  display: flex;
  flex-direction: wrap;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.hobbies-title {
  padding-bottom: 2rem;
  text-decoration: underline;
  text-transform: capitalize;
  text-align: center;
}
.hobbie-text {
  width: 70%;
  margin: auto;
  text-align: start;
}

.hobbie-pic {
  width: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.hobbie-container > div {
  margin: 2rem;
  flex: 0 0 calc(50% - 10px);
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
}
hr {
  width: 80vw;
  color: #ececec;
  margin: auto;
}
/* footer */
